* {
    font:                           "Cantarell bold 10";
    background:   #1d2021;
    foreground:   #fbf2c7;
    cursor:       #458588;
    color0:       #282828;
    color1:       #cc241d;
    color2:       #98971a;
    color3:       #d79921;
    color4:       #458588;
    color5:       #b16286;
    color6:       #689d6a;
    color7:       #a89984;
}
