.git
.emacs.d/auto-save-list
.config/nnn/.selection
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
mpd.conf
.config/spicetify/Backups
.config/spicetify/Extracted
.config/spicetify/CustomApps

