!#include "/home/juan/.cache/wal/colors.Xresources"

Xcursor.theme: Bibata_Oil
Xcursor.size: 16
Xcursor.theme_core: 1

!dwm.normbordercolor: #1d2021
!dwm.normbgcolor:     #1d2021
!dwm.normfgcolor:     #3c3c3c
!dwm.selbordercolor:  #fbf2c7
!dwm.selbgcolor:	     #1d2021
!dwm.selfgcolor:	     #fbf2c7

! VSC Material theme
!*.foreground:   #c4c7d1
!*.background:   #1e282d
!*.cursorColor:  #c4c7d1
!*.color0:       #073642
!*.color8:       #ff002b
!*.color1:       #eb606b
!*.color9:       #eb606b
!*.color2:       #c3e88d
!*.color10:      #c3e88d
!*.color3:       #f7eb95
!*.color11:      #f7eb95
!*.color4:       #80cbc4
!*.color12:      #7dc6bf
!*.color5:       #ff2490
!*.color13:      #6c71c4
!*.color6:       #aeddff
!*.color14:      #35434d
!*.color7:       #ffffff
!*.color15:      #ffffff

! Monokai pro (based on doom-monokai-pro)
!*.foreground:  #fcfcfa
!*.background:  #2d2a2e
!*.cursorColor: #fcfcfa
!*.color0:      #0d0e16
!*.color1:      #D83441
!*.color2:      #79D836
!*.color3:      #D8B941
!*.color4:      #3679D8
!*.color5:      #8041D8
!*.color6:      #36D8BD
!*.color7:      #CEDBE5
!*.color8:      #0d0e16
!*.color9:      #D83441
!*.color10:     #79D836
!*.color11:     #D8B941
!*.color12:     #3679D8
!*.color13:     #8041D8
!*.color14:     #36D8BD
!*.color15:     #CEDBE5

! Dracula Xresources palette
!*.foreground: #f8f8f2
!*.background: #282a36
!*.color0:     #000000
!*.color1:     #FF5555
!*.color2:     #50FA7B
!*.color3:     #F1FA8C
!*.color4:     #BD93F9
!*.color5:     #FF79C6
!*.color6:     #8BE9FD
!*.color7:     #BFBFBF
!*.color8:     #4D4D4D
!*.color9:     #FF6E67
!*.color10:    #5AF78E
!*.color11:    #F4F99D
!*.color12:    #CAA9FA
!*.color13:    #FF92D0
!*.color14:    #9AEDFE
!*.color15:    #E6E6E6

! Gruvbox
*.background:   #282828
*.foreground:   #fbf2c7
*.cursorColor:  #fbf2c7
*.color0:       #1d2021
*.color1:       #cc241d
*.color2:       #98971a
*.color3:       #d79921
*.color4:       #458588
*.color5:       #b16286
*.color6:       #689d6a
*.color7:       #a89984
*.color8:       #928374
*.color9:       #fb4934
*.color10:      #b8bb26
*.color11:      #fabd2f
*.color12:      #83a598
*.color13:      #d3869b
*.color14:      #8ec07c
*.color15:      #ebdbb2

! Nord
!*.foreground:   #D8DEE9
!*.background:   #2E3440
!*.cursorColor:  #D8DEE9
!*.color0:       #3B4252
!*.color1:       #BF616A
!*.color2:       #A3BE8C
!*.color3:       #EBCB8B
!*.color4:       #81A1C1
!*.color5:       #B48EAD
!*.color6:       #88C0D0
!*.color7:       #8FBCBB
!*.color8:       #4C566A
!*.color9:       #BF616A
!*.color10:      #A3BE8C
!*.color11:      #EBCB8B
!*.color12:      #81A1C1
!*.color13:      #B48EAD
!*.color14:      #8FBCBB
!*.color15:      #ECEFF4


! Nord light
!*.background:   #e5e9f0
!*.foreground:   #3B4252
!*.cursorColor:  #5D86B6
!*.color0:       #0D0E16
!*.color1:       #D83441
!*.color2:       #79D836
!*.color3:       #D8B941
!*.color4:       #3679D8
!*.color5:       #8041D8
!*.color6:       #36D8BD
!*.color7:       #CEDBE5
!*.color8:       #0D0E16
!*.color9:       #D83441
!*.color10:      #79D836
!*.color11:      #D8B941
!*.color12:      #3679D8
!*.color13:      #8041D8
!*.color14:      #36D8BD
!*.color15:      #ABB2BF

! Iceberg
!*.foreground:   #c6c8d1
!*.background:   #161821
!*.cursorColor:  #c6c8d1
!*.color0:       #161821
!*.color8:       #6b7089
!*.color1:       #e27878
!*.color9:       #e98989
!*.color2:       #b4be82
!*.color10:      #c0ca8e
!*.color3:       #e2a478
!*.color11:      #e9b189
!*.color4:       #84a0c6
!*.color12:      #91acd1
!*.color5:       #a093c7
!*.color13:      #ada0d3
!*.color6:       #89b8c2
!*.color14:      #95c4ce
!*.color7:       #c6c8d1
!*.color15:      #d2d4de

! OneDark
!*.foreground:   #ABB2BF
!*.background:   #282C34
!*.cursorColor:  #ABB2BF
!*.color0:       #5C6370
!*.color8:       #4B5263
!*.color1:       #E06C75
!*.color9:       #BE5046
!*.color2:       #98C379
!*.color10:      #98C379
!*.color3:       #E5C07B
!*.color11:      #D19A66
!*.color4:       #61AFEF
!*.color12:      #61AFEF
!*.color5:       #C678DD
!*.color13:      #C678DD
!*.color6:       #56B6C2
!*.color14:      #56B6C2
!*.color7:       #ABB2BF
!*.color15:      #ABB2BF
