#include "/home/juan/.config/XColors/one-light"

dwm.back:    bg
dwm.fore:    fg
dwm.border:  cursor
dwm.col0:    black    
dwm.col1:    red
dwm.col2:    green    
dwm.col3:    yellow   
dwm.col4:    blue     
dwm.col5:    magenta  
dwm.col6:    cyan     
dwm.col7:    white    
dwm.col8:    bblack   
dwm.col9:    bred     
dwm.col10:   bgreen   
dwm.col11:   byellow  
dwm.col12:   bblue    
dwm.col13:   bmagenta 
dwm.col14:   bcyan    
dwm.col15:   bwhite   

*.background:  bg
*.foreground:  fg
*.cursorColor: cursor
*.color0:      black
*.color1:      red
*.color2:      green
*.color3:      yellow
*.color4:      blue
*.color5:      magenta
*.color6:      cyan
*.color7:      white
*.color8:      bblack    
*.color9:      bred      
*.color10:     bgreen    
*.color11:     byellow   
*.color12:     bblue     
*.color13:     bmagenta  
*.color14:     bcyan     
*.color15:     bwhite    
