

/*Dracula colors OwO */
/*
*@define-color background  #21222c;
*@define-color foreground  #f8f8f2;
*@define-color cursorColor #f8f8f2;
*@define-color color0      #000000;
*@define-color color1      #FF5555;
*@define-color color2      #50FA7B;
*@define-color color3      #F1FA8C;
*@define-color color4      #BD93F9;
*@define-color color5      #FF79C6;
*@define-color color6      #8BE9FD;
*@define-color color7      #BFBFBF;
*@define-color color8      #4D4D4D;
*@define-color color9      #FF6E67;
*@define-color color10     #5AF78E;
*@define-color color11     #F4F99D;
*@define-color color12     #CAA9FA;
*@define-color color13     #FF92D0;
*@define-color color14     #9AEDFE;
*@define-color color15     #E6E6E6;
*/

/* Asuming the waybar config is on ~/.config/waybar*/

@import "../colors/colors.css";
/*
*@define-color background  #1d2021;
*@define-color foreground  #fbf2c7;
*@define-color cursorColor #282828;
*@define-color color0      #1d2021;
*@define-color color1      #cc241d;
*@define-color color2      #98971a;
*@define-color color3      #d79921;
*@define-color color4      #458588;
*@define-color color5      #b16286;
*@define-color color6      #689d6a;
*@define-color color7      #a89984;
*/

* {
    font-family: Cantarell;
    font-size: 10pt;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces {
    margin: 3px;
    padding: 0px 5px 0px 0px;
    color: @color0;
}

/*unfocused*/
#workspaces button {
    padding: 0px 5px 0px 0px;
    margin: 0px 1px 0px 1px;
    background-color: @cursorColor;
    min-width: 0;
    border-radius: 7;
    color: @foreground;
}

/* focused workspace */
#workspaces button.visible {
    color: @background;
    padding: 0px 7px 0px 7px;
    margin: 0px 5px 0px 5px;
    background-color: @color4;
}

#mode {
    background-color: @color1;
    color: @foreground;
    border-radius: 10px;
    margin: 3px 0 3px 0;
    padding: 0 5px;
}

#window {
    margin: 3px;
    padding: 0 10px;
    background-color: @background;
    border-radius: 10px 10px 10px 10px;
}

#clock {
    margin: 3px;
    padding: 0 10px;
    background-color: @cursorColor;
    color: @foreground;
    border-radius: 7;
}

#pulseaudio, #battery, #network {
    padding: 0 10px;
    margin: 3px 0px 3px 0px;
    background-color: @background;
    color: @foreground;
}

#custom-toggleTheme {
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    margin: 3px 5px 3px 5px;
    background-color: @cursorColor;
}

#pulseaudio {

    border-radius: 7px 0px 0px 7px;
    background-color: @cursorColor;
}


#battery {
    border-radius: 0px 0px 0px 0px;
    background-color: @cursorColor;
}
#network {
    border-radius: 0px 7px 7px 0px;
    padding: 0px 10px;
    margin: 3px 3px 3px 0px;
    background-color: @cursorColor;
}


#battery.charging {
    color: @color2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @color4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: @color1;
}

#pulseaudio.muted {
    color: @color0;
}


#custom-media {
    color: @background;
    background-color: #1ed760;
    border-radius: 7;
    padding: 0px 5px 0px 5px;
    margin: 3px;
}

#custom-swaynagPower {
    color: #0F94D2;
    padding: 5px;
}
