@define-color background #1C1E27;
@define-color foreground #CACACC;
@define-color cursorColor #E95678;
@define-color color0 #6C6F93;
@define-color color1 #E4436F;
@define-color color2 #24E39D;
@define-color color3 #EDA685;
@define-color color4 #00A5AF;
@define-color color5 #B367CF;
@define-color color6 #00A5AF;
@define-color color7 #CACACC;
@define-color color8 #6C6F93;
@define-color color9 #E4436F;
@define-color color10 #24E39D;
@define-color color11 #EDA685;
@define-color color12 #00A5AF;
@define-color color13 #B367CF;
@define-color color14 #00A5AF;
@define-color color15 #CACACC;
@define-color background #fafafa;
@define-color foreground #383a42;
@define-color cursorColor #526eff;
@define-color color0 #5C6370;
@define-color color1 #E06C75;
@define-color color2 #98C379;
@define-color color3 #E5C07B;
@define-color color4 #61AFEF;
@define-color color5 #C678DD;
@define-color color6 #56B6C2;
@define-color color7 #ABB2BF;
@define-color color8 #4B5263;
@define-color color9 #BE5046;
@define-color color10 #98C379;
@define-color color11 #D19A66;
@define-color color12 #61AFEF;
@define-color color13 #C678DD;
@define-color color14 #56B6C2;
@define-color color15 #ABB2BF;

#workspaces {
    margin: 3px;
    background-color: @background;
    border-radius: 10px 10px 10px 10px;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 0 0 0;
    margin: 0px 0px 0px 0px;
    min-width: 0;
    background-color: transparent;
    color: @foreground;
}


#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#workspaces button.focused {
    color: @cursorColor;
    padding: 0 0px;
    margin: 0px;
    border-radius: 10px;
}

#workspaces button.persistent {
    color: @foreground;
    padding: 0 0px;
    margin: 0px;
    border-radius: 10px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces.focus button.focused {
    color: @background;
    padding: 2.8 3px;
    margin: 0px;
    border-radius: 10px;
    background-color: @cursorColor;
}

#mode {
    background-color: @color1;
    color: @background;
    border-radius: 10px;
    margin: 3px 0 3px 0;
    padding: 0 5px;
}

#window {
    margin: 3px;
    padding: 0 10px;
    background-color: @background;
    color: @foreground;
    border-radius: 10px 10px 10px 10px;
}

#clock {
    margin: 3px;
    padding: 0 10px;
    background-color: @background;
    color: @foreground;
    border-radius: 10px 10px 10px 10px;
}

#pulseaudio, #battery, #network {
    padding: 0 10px;
    margin: 3px 0px 3px 0px;
    background-color: @background;
    color: @foreground;
}

#pulseaudio {
    border-radius: 10px 0px 0px 10px;
}

#network {
    border-radius: 0px 10px 10px 0px;
    margin: 3px 3px 3px 0;
}


#battery.charging {
    color: @color2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @color4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: @color1;
}

#pulseaudio.muted {
    color: @color0;
}

