* {
background: #1C1E27;
foreground: #CACACC;
cursorColor: #E95678;
color0: #6C6F93;
color1: #E4436F;
color2: #24E39D;
color3: #EDA685;
color4: #00A5AF;
color5: #B367CF;
color6: #00A5AF;
color7: #CACACC;
color8: #6C6F93;
color9: #E4436F;
color10: #24E39D;
color11: #EDA685;
color12: #00A5AF;
color13: #B367CF;
color14: #00A5AF;
color15: #CACACC;
}
