snippet rojo 
REM ${1:fecha} SPECIAL COLOR 138 0 0 ${2:mensaje} 
endsnippet

snippet mat
REM ${1:fecha} SPECIAL COLOR 229 159 14 ${2:mensaje} 
endsnippet

snippet verde
REM ${1:fecha} SPECIAL COLOR 0 117 0 ${2:mensaje} 
endsnippet

snippet azul
REM ${1:fecha} SPECIAL COLOR 0 0 197 ${2:mensaje} 
endsnippet

snippet rem
REM ${1:fecha} MSG ${2:mensaje} 
endsnippet

