[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator
Name[es]=Emulador de terminal
Comment=Use the command line
Comment[es]=Usar la línea de órdenes
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
