
/* constrain popup to urlbar width */
.urlbarView:not(.megabar){
  max-width: 100% !important;
  top: calc(2px + var(--toolbarbutton-outer-padding)) !important;
  border-width: 0 !important;
  background-color: transparent !important;
  pointer-events: none;
  border-radius: inherit;
}

/* Apply popup background color to the urlbar background when focused */
#urlbar:not(.megabar):focus-within{ background-color: var(--autocomplete-popup-background) }

/* Spacer to offset actual results. This is placed over urlbar text  */
.urlbarView:not(.megabar)::before{
  content: "";
  display: -moz-box;
  height: calc(0.8em + var(--toolbarbutton-outer-padding))
}

/* Add popup background color to sub-elements, since it was removed from the popup itself */
.urlbarView:not(.megabar) > .search-one-offs,
.urlbarView:not(.megabar) > .urlbarView-body-outer{
  background-color: var(--autocomplete-popup-background); /* Set background-color here */
  color: var(--autocomplete-popup-color); /* Set text color here */
  pointer-events: auto
}

/* Add separator line under urlbar text field */
.urlbarView:not(.megabar) > .urlbarView-body-outer::before{
  content:"";
  display: block;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right,transparent,grey 35%, grey 65%, transparent)
}

/* Remove normal urlbar border and background */
#urlbar:not(.megabar)[focused]{
  border-color: transparent !important;
  background-color: var(--autocomplete-popup-background) !important;
}


/* Add shadow to focused popup + urlbar */
#urlbar:not(.megabar)[focused]:not([open]),
#urlbar.megabar[focused] > #urlbar-background,
#urlbar[open] > .urlbarView:not(.megabar) { box-shadow: 0 0 5px 3px var(--autocomplete-popup-highlight-background) !important; }

#urlbar.megabar[focused] > #urlbar-background{ border-width: 0px !important;; }

/* Remove horizontal paddings from texts */
.urlbarView-row{ padding: 6px 0px !important; }

/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button{
  display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}


#urlbar:not([focused]) #urlbar-input, /* ID for Firefox 70 */
#urlbar:not([focused]) .urlbar-input{ text-align: center !important; }





/* Page action-buttons "slide in" when cursor is on top of them and don't reserve space when not used */

#page-action-buttons > *[class^=urlbar-icon]{
  margin-inline-end: -26px;
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}
:root[uidensity="compact"] #page-action-buttons > *[class^=urlbar-icon]{ margin-inline-end: -22px; }
#page-action-buttons:hover > *[class^=urlbar-icon],
#page-action-buttons > *[class^=urlbar-icon][open],
#page-action-buttons > *[class^=urlbar-icon][open] ~ *[class^=urlbar-icon]{
  opacity: 1;
  margin-inline-end: 0px !important;
}


/* Changes various in-UI scrollabars to be slim and more subtle */

.panel-subview-body,
#permList,
scrollbar{
 color: inherit;
 scrollbar-color: currentColor transparent;
 scrollbar-width: thin 
}

/*Tabs below nav bar*/
#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#navigator-toolbox{
  margin-top: 0px;
  padding-top:0px !important;
}
#navigator-toolbox { --tabs-border-color: transparent !important; }

/*Hide tabs bar if one tab is opened*/
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}

/* ocultar el icono de la página web*/
.tabbrowser-tab:not([pinned])  .tab-icon-image {
  display: none !important;
}


/* Hide urlbar */
#nav-bar {
    position: relative !important;
    z-index: 1 !important;
    height: 0px !important;
    min-height: 2px !important;
    margin-bottom: -2px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    border: none !important;
}
#nav-bar:hover {
    height: auto !important;
    margin-bottom: 0px !important;
    opacity: 1 !important;
    overflow: hidden !important;
}
#nav-bar:focus-within {
    height: auto !important;
    margin-bottom: 0px !important;
    opacity: 1 !important;
    overflow: show !important;
}
#content-deck{
    position:relative !important;
    z-index: 0 !important;
}
