@define-color borders_breeze #5c5e65;
@define-color content_view_bg_breeze #282a36;
@define-color error_color_backdrop_breeze #ff5555;
@define-color error_color_breeze #ff5555;
@define-color error_color_insensitive_backdrop_breeze #6e363e;
@define-color error_color_insensitive_breeze #6e363e;
@define-color insensitive_base_color_breeze #262833;
@define-color insensitive_base_fg_color_breeze #6c6d72;
@define-color insensitive_bg_color_breeze #262833;
@define-color insensitive_borders_breeze #373943;
@define-color insensitive_fg_color_breeze #6c6d72;
@define-color insensitive_selected_bg_color_breeze #262833;
@define-color insensitive_selected_fg_color_breeze #6c6d72;
@define-color insensitive_unfocused_bg_color_breeze #262833;
@define-color insensitive_unfocused_fg_color_breeze #6c6d72;
@define-color insensitive_unfocused_selected_bg_color_breeze #262833;
@define-color insensitive_unfocused_selected_fg_color_breeze #6c6d72;
@define-color link_color_breeze #ff79c6;
@define-color link_visited_color_breeze #9d9d99;
@define-color success_color_backdrop_breeze #50fa7b;
@define-color success_color_breeze #50fa7b;
@define-color success_color_insensitive_backdrop_breeze #336d4a;
@define-color success_color_insensitive_breeze #336d4a;
@define-color theme_base_color_breeze #282a36;
@define-color theme_bg_color_breeze #282a36;
@define-color theme_button_background_backdrop_breeze #343747;
@define-color theme_button_background_backdrop_insensitive_breeze #323444;
@define-color theme_button_background_insensitive_breeze #323444;
@define-color theme_button_background_normal_breeze #343747;
@define-color theme_button_decoration_focus_backdrop_breeze #bd93f9;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #5f537f;
@define-color theme_button_decoration_focus_breeze #bd93f9;
@define-color theme_button_decoration_focus_insensitive_breeze #5f537f;
@define-color theme_button_decoration_hover_backdrop_breeze #5a6381;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #3e4357;
@define-color theme_button_decoration_hover_breeze #5a6381;
@define-color theme_button_decoration_hover_insensitive_breeze #3e4357;
@define-color theme_button_foreground_active_backdrop_breeze #f8f8f2;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #6c6d72;
@define-color theme_button_foreground_active_breeze #f8f8f2;
@define-color theme_button_foreground_active_insensitive_breeze #6c6d72;
@define-color theme_button_foreground_backdrop_breeze #f8f8f2;
@define-color theme_button_foreground_backdrop_insensitive_breeze #73757d;
@define-color theme_button_foreground_insensitive_breeze #73757d;
@define-color theme_button_foreground_normal_breeze #f8f8f2;
@define-color theme_fg_color_breeze #f8f8f2;
@define-color theme_hovering_selected_bg_color_breeze #634d83;
@define-color theme_selected_bg_color_breeze #a27fd6;
@define-color theme_selected_fg_color_breeze #f8f8f2;
@define-color theme_text_color_breeze #f8f8f2;
@define-color theme_titlebar_background_backdrop_breeze #21222c;
@define-color theme_titlebar_background_breeze #21222c;
@define-color theme_titlebar_background_light_breeze #282a36;
@define-color theme_titlebar_foreground_backdrop_breeze #9d9d99;
@define-color theme_titlebar_foreground_breeze #f8f8f2;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #9d9d99;
@define-color theme_titlebar_foreground_insensitive_breeze #9d9d99;
@define-color theme_unfocused_base_color_breeze #282a36;
@define-color theme_unfocused_bg_color_breeze #282a36;
@define-color theme_unfocused_fg_color_breeze #f8f8f2;
@define-color theme_unfocused_selected_bg_color_alt_breeze #45385d;
@define-color theme_unfocused_selected_bg_color_breeze #45385d;
@define-color theme_unfocused_selected_fg_color_breeze #f8f8f2;
@define-color theme_unfocused_text_color_breeze #f8f8f2;
@define-color theme_unfocused_view_bg_color_breeze #262833;
@define-color theme_unfocused_view_text_color_breeze #6c6d72;
@define-color theme_view_active_decoration_color_breeze #5a6381;
@define-color theme_view_hover_decoration_color_breeze #5a6381;
@define-color tooltip_background_breeze #343747;
@define-color tooltip_border_breeze #656772;
@define-color tooltip_text_breeze #f8f8f2;
@define-color unfocused_borders_breeze #5c5e65;
@define-color unfocused_insensitive_borders_breeze #373943;
@define-color warning_color_backdrop_breeze #ffb86c;
@define-color warning_color_breeze #ffb86c;
@define-color warning_color_insensitive_backdrop_breeze #6e5745;
@define-color warning_color_insensitive_breeze #6e5745;
